@charset "UTF-8"

body{ background-color: mediumspringgreen; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;}
h1{ color: bisque;
}
h2{color: blanchedalmond;}

p{text-align: justify;}
    