@charset "UTF-8";

body{
    background-color: aqua;
font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color: chartreuse
    ;color: aliceblue;
}
h1{
color: blueviolet;
}
h2{
color: blue;

}
.basico{
color: bisque;

}
.intermediario{

    color: blueviolet;
}
.avançado{

    color: chocolate;
}
.destaque{

    background-color: yellow;
}